<div class="jumbotron">
    <h1> Неможливо видалити </h1>
    <h2>Запис прив'язаний до іншої таблиці</h2>
</div>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
