@{
    ViewData["Title"] = "Home Page";
}



<div class="jumbotron">
    <h1>Мій ресторан</h1>
</div>
<div class="row">
    <div class="jumbotron" style="opacity:0.9 ">
        <h2>Вітаю у інтернет-ресторані!</h2>
        <p>
            Цей додаток зроблен, для зручного перегляду меню ресторанів.
            Ви можете переглянути наступні сторінки:
            <ul>
                <li>
                    Типи страв
                </li>
                <li>
                    Страви
                </li>
                <li>
                    Ресторани
                </li>
                <li>
                    Власники
                </li>
                <li>
                    Замовлення
                </li>

            </ul>
            Дякуємо, що обрали саме нас!
        </p>


    </div>
</div>
